name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4

#    - name: CACHE VS2019 BUILD TOOLS PACKAGES
#      uses: actions/cache@v4
#      with:
#        key: vs2019-build-tools
#        path: |
#          C:\ProgramData\Microsoft\VisualStudio\Packages

#    - name: === RUN CLANG-TIDY LINTER ===
#      run: clang-tidy *.c *.h >clang-tidy.txt
#    - uses: actions/upload-artifact@v4
#      with:
#        name: clang-tidy-artifact
#        path: clang-tidy.txt
#        overwrite: true

#    - name: === DOWNLOAD VS2019 BUILD TOOLS INSTALLER ===
#      shell: cmd
#      run: curl --http1.0 -O https://download.visualstudio.microsoft.com/download/pr/2282640c-c74e-4d6a-9710-4eb8fef730e6/dfa5c24fb7aa4d11bf375bd2a46d19d3a1ff907cbc88468b0a50e3d71d53f77a/vs_BuildTools.exe

#    - name: === INSTALL VS2019 BUILD TOOLS 16.7.28 (XP COMPATIBLE) ===
#      shell: cmd
#      run: >
#        vs_BuildTools.exe
#        --quiet
#        --wait
#        --norestart
#        --noUpdateInstaller
#        --add Microsoft.Component.MSBuild
#        --add Microsoft.VisualStudio.Component.Roslyn.Compiler
#        --add Microsoft.VisualStudio.Component.TextTemplating
#        --add Microsoft.VisualStudio.Component.CoreBuildTools
#        --add Microsoft.VisualStudio.Component.VC.CoreIde
#        --add Microsoft.VisualStudio.Component.VC.Redist.14.Latest
#        --add Microsoft.VisualStudio.Component.Windows10SDK.16299
#        --add Microsoft.VisualStudio.ComponentGroup.NativeDesktop.Core
#        --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64
#        --locale en-US

    - name: === BUILD X86 PROJECT ===
      shell: cmd
      run: >
        "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        && cl /W3 main.c hd.c /Fe"hd.exe"
#        "C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Auxiliary\Build\vcvars32.bat"
#        && cl /W3 main.c hd.c /Fe"hd.exe"
