name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v4
    - name: Cache VS2019 Build Tools
      uses: actions/cache@v4
      with:
        key: vs2019-build-tools
        path: |
          ~/vs2019layout
#    - name: Run clang-tidy linter
#      run: clang-tidy *.c *.h
#    - name: Build x86 project
#      shell: cmd 
#      run: >
#        "C:\Progra~2\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars32.bat"
#        && cl /W3 main.c hd.c /Fe"hd.exe"
#    - name: Chocolatey
#      shell: cmd
#      run: >
#        choco install visualstudio2019buildtools
#        --version=16.7.7.0
#        --package-parameters
#        "--layout C:\Users\runneradmin\vs2019layout --passive --locale en-US --add Microsoft.Component.MSBuild --add Microsoft.VisualStudio.Component.CoreBuildTools --add Microsoft.VisualStudio.Component.VC.v142.x86.x64 --add Microsoft.VisualStudio.ComponentGroup.NativeDesktop.Core"
    - name: Utility Versions
      shell: cmd
      run: |
        curl -O https://download.visualstudio.microsoft.com/download/pr/2282640c-c74e-4d6a-9710-4eb8fef730e6/dfa5c24fb7aa4d11bf375bd2a46d19d3a1ff907cbc88468b0a50e3d71d53f77a/vs_BuildTools.exe
        vs_BuildTools.exe --layout C:\Users\runneradmin\vs2019layout --quiet --locale en-US --add Microsoft.Component.MSBuild --add Microsoft.VisualStudio.Component.CoreBuildTools --add Microsoft.VisualStudio.Component.VC.v142.x86.x64 --add Microsoft.VisualStudio.ComponentGroup.NativeDesktop.Core
#    - name: CL version
#      shell: cmd
#      run: >
#        "C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Auxiliary\Build\vcvars32.bat"
#        && cl
#    - name: configure
#      run: ./configure
#    - name: make
#      run: make
#    - name: make check
#      run: make check
#    - name: make distcheck
#      run: make distcheck
